<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.strikkeapp.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/knitting_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.strikkeapp.app.activities.MainMenuActivity"
            android:label="DIY Knitting Pattern" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.strikkeapp.app.activities.MakeNewPatternActivity"
            android:label="DIY Knitting Pattern" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.strikkeapp.app.activities.DrawActivity"
            android:label="DIY Knitting Pattern" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.strikkeapp.app.activities.RecipeActivity"
            android:label="DIY Knitting Pattern"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.strikkeapp.app.activities.ExistingPatternActivity"
            android:label="DIY Knitting Pattern" >
        </activity>
    </application>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

</manifest>
